<div class="container">
    <div class="row">
        <nav [class.bg-light]="bgLight" class="navbar navbar-expand-lg navbar-light fixed-top">
          <a class="navbar-brand" href="#">Droona</a>
          <button class="navbar-toggler" (click)="toggleClick()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" [ngStyle]="{'background-color': bgColor}" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" (click)="toHome()">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" (click)="toServices()">
                <a class="nav-link" >Services</a>
              </li>
              <li class="nav-item" (click)="toFaq()">
                <a class="nav-link" >FAQ</a>
              </li>
              <li class="nav-item" (click)="toAboutus()">
                <a class="nav-link" >About Us</a>
              </li>
              <li class="nav-item" (click)="toContactUs()">
                <a class="nav-link" >Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pricing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
            </ul>
            <form class="form-inline" *ngIf="!toggleclicked">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-outline-info" (click)='toAlert()'>Search</button>
            </form>
            <button type="button" class="btn btn-outline-info" (click)='toAlert()' *ngIf="!toggleclicked">Login/Register</button>
          </div>
        </nav>
    </div>
  </div>
  
  