
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
  </head>


<p>angular-carousel works!</p>
<div class="container">
  <div class="row">
    <div class="col-md-1" style="text-align: center;">
      <!-- controls -->
      <button class="control " (click)="onPreviousClick()">       
        <span class="arrow left"></span>
      </button>
    </div>
    <div class="col-md-10">    
    <div class="carousel" >      
      <div  class="" [@animImageSlider]="num">
        <div class="row" >
          <div class="col-md-4 " *ngFor="let slide of subslide">
            <div class="innerSlider-carousel slick-slide">
              <img src={{slide.img}} alt="" class="img-carousel"/>
              <h5 class="h5-carousel">{{slide.header}}</h5>
              <span class="spec-customColor">{{slide.position}}</span>
              <p class="p-carousel">
                We are happy we found you. We continuously use it in our
                <a
                  target="_blank"
                  class="spec"
                  href="https://github.com/ROYopedia"
                  >UI/UX design agency</a
                >
                workflow. It is a very simple-to-use prototyping tool that
                transforms the way we collaborate on our interface design
                projects. It also helped to streamline our handoff from
                designers to developers.
              </p>
            </div>
    </div>
    </div>
       </div> 
    </div>
    </div>      
       <div class="col-md-1" style="text-align: center">
        <button class="control  "  (click)="onNextClick()">         
          <span class="arrow right"></span>
        </button>
      </div>
      </div>
      </div>
 
