<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="border: solid 5px;">
    
<div class="container">
<div class="row">

  <div class="col-md-1">
    <img (click)="showStudent()" [@studentAni]="positionStu" *ngIf="student==true" style="height: 100px; width: 100px;" src="https://cdn3.iconfinder.com/data/icons/ringtone-music-instruments/512/letter-s-key-keyboard-512.png">
</div>
<div class="col-md-1">
  
<img @arrow1 *ngIf="arrow==true" style="height: 50px; width: 50px;margin:5px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png">
</div>
<div class="col-md-1">

<img @step1 *ngIf="step==true" style="height: 100px; width: 100px;margin:5px" src="https://img2.pngio.com/usmle-step-1-symbol-usmle-step-3-png-768x768px-usmle-step-1-usmle-step-1-png-820_768.jpg">
</div>
<div class="col-md-1">
<img @arrow2 *ngIf="arrow==true" style="height: 50px; width: 50px;margin:5px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png">

</div>
<div class="col-md-1">

<img @step2 *ngIf="step==true" style="height: 100px; width: 100px;margin:5px" src="https://f0.pngfuel.com/png/425/749/step-2-logo-png-clip-art-thumbnail.png">
</div>
<div class="col-md-1">

<img @arrow3 *ngIf="arrow==true" style="height: 50px; width: 50px;margin:5px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png">

</div>
<div class="col-md-1">
<img @step3 *ngIf="step==true" style="height: 100px; width: 100px;margin:5px" src="https://p7.hiclipart.com/preview/723/583/816/usmle-step-1-computer-icons-usmle-step-3-symbol-symbol.jpg" >

</div>
<div class="col-md-1">
<img @arrow4 *ngIf="arrow==true" style="height: 50px; width: 50px;margin:5px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png">
</div>
<div class="col-md-1">

<img @step4 *ngIf="step==true" style="height: 100px; width: 100px;margin:5px"src="https://lh3.googleusercontent.com/proxy/VZPzCZfl3JrI797x0LqwRQ40N0wS2zej0cHcLwYeE2hzSdJTk-9z2TMCruxipWOmaoyNtN9n-PhxPKp4rL5hsnswQ2Ja8QfLOwa4M963NEqG7Hs1DFs">

</div>
<div class="col-md-1">
<img @arrow5 *ngIf="arrow==true" style="height: 50px; width: 50px;margin:5px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png">

</div>
<div class="col-md-1">
<img @step5 *ngIf="step==true" style="height: 100px; width: 100px;margin:5px"src="https://lh3.googleusercontent.com/proxy/YCNR1EX63ehFxwC_R7jXVq_uQPV3nCRFKU6FdvktT_ZDvDyn2zonhbeu7IvcP-M17qU7FuVYlm3mQIEH9u5kpfMfRO5-dcmw5gfPgB4XMXnAGBu58Cw">

</div>
<div class="col-md-1">
  <img [@tutorAni]="positiontutor" (click)="showtutor()"  *ngIf="tutor==true" style="height: 100px; width: 100px;" src="https://cdn3.iconfinder.com/data/icons/ringtone-music-instruments/512/letter-t-key-keyboard-512.png">
</div></div></div>




      
         
      

    


</div>
</body>
