<html lang="en">
    <head>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    	<title>Material Bootstrap Wizard by Creative Tim</title>
    
    	<!--     Fonts and icons     -->
    	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    </head>
<section id="home" >
  <div class="picsum-img-wrapper">      
      <div class="banner container text-center">
          <div class="row">  
              <div class="col-md-2 "></div>
              <div class="col-md-8" >
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1> Reverb Learning</h1>
          <h2>If you are determined to learn no one can stop you.</h2>
          <h3> Here we are to produce the best come out from a student </h3>
          <br>
            <button type="button" class="btn btn-primary btn-lg active" data-toggle="modal" data-target="#exampleModal">
              Join Us
            </button>
          </div>
          <div class="col-md-2"></div>
          </div>
      </div>
  </div>                
</section>

<section id="services">
  <div class="container card">
    <div class="card-body">
      <div class="row card-title">
        <div  class="col-12">
          <h2 class="home-title" >! Services we provide ! </h2>
        </div>
      </div>
        <div  class="row card-text" >
          <div class="container " >
              <div class="row">
                  <div class="col-md-6">
                      <ul>
                          <li class="row" *ngFor="let dataS of serviceData, let i = index" (mouseover)="showTab(i,dataS)" >
                              <div class="card service" style="border:0px">
                                  <div class="card-body" [ngStyle]="{'backgroundColor': selectedIndex==i ? '#ebe4eb' : ''}" style="border-radius: 5px;">
                                      <h5 class="card-title">{{dataS.title}}</h5>
                                      <p class="card-text">{{dataS.data}}</p>
                                  </div>
                              </div>    
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-6">
                      <div class="row" *ngFor="let dataS of serviceData, let i = index">
                          <img src={{dataS.img}} [@myAni]="stateName"  [hidden]="selectedIndex!=i" style="height: 100%; width: 100%;" >
                      </div>
                  </div> 
              </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="about-us">
  <div>
    <!-- <video playsinline="playsinline" autoplay muted loop id="myVideo">
          <source src="../../../assets/Videos/Video1.mp4" type="video/mp4">
      </video> -->
    <div class="container-md">
      <div class="row">
        <div class="container-carousel">
          <h2 class="home-title">! Meet us at World's End !</h2>
          <carousel
            [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [interval]="false"
            [noWrap]="noWrap"
            class="text-center"
          >
            <slide
              *ngFor="let slide of slides; let index = index"
              class="mx-auto"
            >
              <div class="innerSlider-carousel slick-slide">
                <img [src]="slide.image" alt="" class="img-carousel" />
                <h5 class="h5-carousel">ARIJIT ROY</h5>
                <span class="spec-customColor">Innovator of ROYovation</span>
                <p class="p-carousel">
                  We are happy we found you. We continuously use it in our
                  <a
                    target="_blank"
                    class="spec"
                    href="https://github.com/ROYopedia"
                    >UI/UX design agency</a
                  >
                  workflow. It is a very simple-to-use prototyping tool that
                  transforms the way we collaborate on our interface design
                  projects. It also helped to streamline our handoff from
                  designers to developers.
                </p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><h1>1</h1></div>
        <div class="item"><h1>2</h1></div>
        <div class="item"><h1>3</h1></div>
        <div class="item"><h1>4</h1></div>
        <div class="item"><h1>5</h1></div>
        <div class="item"><h1>6</h1></div>
        <div class="item"><h1>7</h1></div>
        <div class="item"><h1>8</h1></div>
        <div class="item"><h1>9</h1></div>
        <div class="item"><h1>10</h1></div>
        <div class="item"><h1>11</h1></div>
        <div class="item"><h1>12</h1></div>
        <div class="item"><h1>13</h1></div>
        <div class="item"><h1>14</h1></div>
        <div class="item"><h1>15</h1></div>
        <div class="item"><h1>16</h1></div>
      </div>
       
      <div class="customNavigation">
        <a class="btn prev">Previous</a>
        <a class="btn next">Next</a>
        <a class="btn play">Autoplay</a>
        <a class="btn stop">Stop</a>
      </div> -->
</section>

<section id="faq">
  <div class="container">
    
      <div class="col-md-12">
        <div class="section-title text-center wow zoomIn">
          <h2 class="home-title"> ! Frequently Asked Questions !</h2>
        </div>
      </div>
    
    <div class="row">				
      <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is you question 1? 
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is you question 2? 
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" >
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What is you question 3? 
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" >
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
              </div>
            </div>
          </div>
        </div>
      </div><!--- END COL -->		
    </div><!--- END ROW -->			
  </div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hey Welcome!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We are still working on the page.. Will get back soon..</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
</section>
</html>