.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important; 
}
// .row {
//   margin-right: 0px !important;
//   margin-left: 0px !important;
// }
// Home CSS
// .container {
//   // top: 55%;
//  // max-width: 650px;
//   //left: 53%;
//   //transform: translate(-50%, -50%);
// // display: grid;

//  //justify-content: center;
// // opacity: 0.4;
// // background-color: white;
// }

// h1 {
//   display: block;
//   font-size: 3em;
//   margin-top: 0.67em;
//   margin-bottom: 0.67em;
//   margin-left: 0;
//   margin-right: 0;
//   color:white;
//   line-height: 1.6;
//   // font-weight: 600;
//   font-weight: bold;
// }

// h2 {
//   display: block;
//   font-size: 1.5em;
//   margin-top: 0.83em;
//   margin-bottom: 0.83em;
//   margin-left: 0;
//   margin-right: 0;
//   color:white;
//   font-weight: bold;  
// }

// h3 {
//   display: block;
//   font-size: 1.17em;
//   margin-top: 1em;
//   margin-bottom: 1em;
//   margin-left: 0;
//   margin-right: 0;
//   color:white;
//   font-weight: bold;
// }

.layer {
  background: #1c416a;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.btn-primary{
  background-color: #c8dd82 !important; /* Green */
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.banner{
  
background: url(../../../assets/Images/booksIn.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
// background-color: rgb(151, 148, 148);
// background-blend-mode: difference;
width: auto;
//background-opacity: 0.5;
//-moz-backface-visibility: hidden;
//background-color: transparent;
}

// .banner::before{
//   width: auto;
//   height: 100vh;
//   background-color: linear-gradient(rgb(114, 112, 112),rgb(53, 51, 51));
//   z-index: -1;
//   position: absolute;
//   content: '';

// }

//Serices CSS
//Serices CSS
.service{
  cursor: pointer;
}
.active{ 
  // -webkit-box-shadow:  32px 59px 17px 0px rgba(20,0,0,0.15), 25px 24px 22px 5px rgba(0,0,0,0.3);
  // box-shadow: 32px 59px 17px 0px rgba(20,0,0,0.15), 25px 24px 22px 5px rgba(0,0,0,0.3);
  border-radius: 15px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {                                                                          
  0% { transform: translateX(100%);}
  100% {transform: translateX(0);}
}
@keyframes fadeIn {
  0% {opacity: 0.75;}
  100% {opacity: 1;}
}

.fadeIn {
  // -webkit-animation-name: fadeIn;
  // animation-name: fadeIn;
  transition: 0.5s;
}


// FAQ CSS
.btn{
border: none;
outline:none;
box-shadow : none   
}
.btn:focus {
outline: 0;
box-shadow:none !important;
}

.faq{
// background-color: lavender;
// background: transparent;
background: url(../../../assets/Images/banner.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
width: auto;
}


.template_faq {
  background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  padding: 30px;
}
#accordion .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 15px 10px;
}
#accordion .panel-heading {
  border-radius: 30px;
  padding: 0;
}
#accordion .panel-title a {
  background:lightseagreen none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
  background:#ebe4eb none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
  background:lightseagreen none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #fff;
  content: "";
  font-family: fontawesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}
#accordion .panel-title a.collapsed::after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333;
  content: "";
}
#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative;
}
#accordion .panel-body p {
  border-left: 1px dashed #8c8c8c;
  padding-left: 25px;
}
// About-us CSS

slide{
//margin-left: auto !important;
margin-right: 20px !important;
margin-left: 20px !important
}

.img-carousel{
max-width: 50px;
display: block;
margin: 0 auto;
-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border: 2px solid #ffffff;
}
.h5-carousel{
font-size: 14px;
color: #5C5758;
line-height: 150%;
margin: 15px 0 4px;
}


.spec-customColor {
color: #FE4066;
}
.p-carousel{
text-align: left;
max-width: 340px;
margin: 21px auto 0;
line-height: 24px;
font-size: 14px;
color: #5C5758;
}
.innerSlider-carousel{
padding: 32px 15px 0;
height: 400px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
background: #ffffff;
border: 1px solid #E9E9E9;
border-radius: 4px;
}
.home-title{
font-size: 36px;
padding-bottom: 45px;
text-transform: uppercase;
font-family: Candara;
text-align: center;
}

.container-carousel{
position: relative;
text-align: center;
padding: 0px 19px 45px 19px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
#myVideo {
//position: fixed;
position: absolute;
right: 0;
// bottom: 0;
// top: 0;
left:0;
min-width: 100%;
height: inherit;
// min-height: 100%;
}
* {
&:focus {
outline: 0 !important;
    
}
}
.carousel-inner :focus{
border: none;
}
.slick-slide {
outline: none !important;
}

.about-bg{
  background-image: url(../../../assets/Images/computer.jpg);
}

/// OWL CARAOUSL
// #owl-demo .item{
//   background: #3fbf79;
//   padding: 30px 0px;
//   margin: 10px;
//   color: #FFF;
//   -webkit-border-radius: 3px;
//   -moz-border-radius: 3px;
//   border-radius: 3px;
//   text-align: center;
// }
// .customNavigation{
//   text-align: center;
// }
// //use styles below to disable ugly selection
// .customNavigation a{
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }


