<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>

<section id="blog-home">
    <div class="container-fluid">
      <div id="carouselExampleSlidesOnly" class="carousel-slide" data-ride="carousel">
        <div class="carousel-inner text-center">
          <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let dataS of homeData;
            index as i;first as isFirst">
            <div class="layer"></div>
            <img src={{dataS.img}} class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h1>{{dataS.title}}</h1>
              <p>{{dataS.data1}}</p>
              <p>{{dataS.data2}}</p><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="blog-posts">
    <br><br>
    <div class="commonStyle">
      <div class="card-body">
        <div class=" card-title">
          <h2 class="home-title">! Blog Posts ! </h2>
        </div>
      </div>  
      <div class="row">
        <div class="col-2">
          <div class="card cardstyle" *ngFor="let bloggi of blogs; let index=index">               
                  <img class="card-img-top  imageStyle" src="{{ bloggi.img }}">
          </div>
        </div>
        <div class="col-10"> 
      <div class="card cardstyle" *ngFor="let blog of blogs, let index=index">
        <div class="row" [routerLink]="[ blog.id ]">
          <ng-template [ngIf]="mobile" [ngIfElse]="desktopVersion">
            <div class="col-sm-12">
              <div class="card-body">
                <h5 class="card-title cardTitle">{{ blog.name }}</h5>
                <img class="card-img-top  imageStyle" src="{{ blog.img }}">
                <p class="card-text">
                  {{ blog.description }}
                </p>
              </div>
            </div>        
          </ng-template>  
          <ng-template #desktopVersion>
            <div class="col-md-2 col-sm-12" *ngIf="index % 2 === 1">
              <img class="card-img-top  imageStyle" src="{{ blog.img }}">
            </div>
            <div class="col-md-10 col-sm-12">
              <div class="card-body">
                <h5 class="card-title cardTitle">{{ blog.name }}</h5>
                <p class="card-text">
                  {{ blog.description }}
                </p>
              </div>
            </div>
            <div class="col-md-2 col-sm-12" *ngIf="index % 2 === 0">
              <img class="card-img-top  imageStyle" src="{{ blog.img }}">
            </div>
          </ng-template>
        </div>
      </div></div></div>
     </div>
  </section>
